body {
    background-color: rgba(32, 50, 50, 0.918);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#calc-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 13.6em;
    min-width: 13.6em;
    max-height: 437.984;
    flex-grow: 0;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.main-container {
    flex-grow: 0;
    border-style:groove;
    border: 8px outset black;
    border-radius: 12px;
    padding: 12px;
    max-height: 563.984;
    min-height: 563.984;
    background-image: radial-gradient(rgba(18, 28, 28, 0.757), rgba(28, 47, 47, 0.563));
}

button {
    min-height: 5em;
    max-height: 5em;
    min-width: 5em;
    max-width: 5em;
    padding: 0;
    flex: 0 0 0;
    box-shadow: 0;
    border-radius: 50px;
    
    transition: box-shadow .1s ease; /* this adds the transition delay */
    filter: brightness(100%);
    border: 3px outset black;
}

button:active {
    filter: brightness(50%);
}


#equal {
    background-color: rgb(65, 199, 152);
}

.display {
    filter:brightness(57%);
    text-align: end;
    max-width: 228px;
    min-width: 228px;
    max-height: 70px;
    min-height: 70px;
    border: 4px outset grey;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(89, 97, 97, 0.918);
    color: white;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: box-shadow .2s ease; /* this adds the transition delay */

}

.display:focus-within {
    filter:brightness(160%); /* this adds brightness on focus */
    outline: 0;
    box-shadow: 0 0 20px rgba(89, 97, 97, 0.918); /* this adds the glow */
}

.display::after {
    transition: box-shadow .2s ease;
}


.operator {
    background-color: rgb(247, 206, 152);
}