body {
    background-color: rgba(32, 50, 50);
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#calc-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 13.8em;
    min-width: 13.8em;
    max-height: 437.984;
    flex-grow: 0;
    gap: 10px;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.main-container {
    flex-grow: 0;
    border-style:groove;
    /*border: 2px none rgba(32, 50, 50);*/
    border: 0.5px solid rgba(32, 50, 50);
    border-radius: 40px;
    padding: 16px;
    max-height: 563.984;
    min-height: 563.984;
    background-image: radial-gradient(rgba(18, 28, 28, 0.757), rgba(28, 47, 47, 0.563));
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.55),
    -2px -4px 10px 0 rgba(255, 255, 255, 0.086);
    padding: 18px;
}

a {
    color:rgb(151, 198, 200);
    text-decoration: none;
    padding: 10px;
}

button {
    min-height: 5em;
    max-height: 5em;
    min-width: 5em;
    max-width: 5em;
    padding: 0;
    flex: 0 0 0;
    background-color:  rgb(29, 45, 45);
    border: 2px outset rgba(32, 50, 50);
    box-shadow: 
    4px 4px 6px 0 rgba(0, 0, 0, 0.55),
    -2.5px -1.5px 6px 0 rgba(255, 255, 255, 0.084);
    border-radius: 20px;
    transition: box-shadow .1s ease; /* this adds the transition delay */
    filter: brightness(100%);
    border: 3px  black;
    color:rgb(151, 198, 200);

}


button:active {
    filter: brightness(80%);
    transition: ease-in-out 0.14s;
    text-decoration: solid;
    color: rgb(189, 251, 251);
    text-shadow:
      0px 0px 7px #fff,
      0px 0px 12px #fff,
      0px 0px 16px #fff,
      0px 0px 24px rgb(0, 255, 255),
      0px 0px 30px rgb(0, 255, 255),
      0px 0px 36px rgba(0, 255, 255, 0.586);
}

.display {
    filter:brightness(80%);
    text-align: end;
    max-width: 228px;
    min-width: 228px;
    max-height: 80px;
    min-height: 80px;
    border: 2px  black;
    border-radius: 20px 20px 16px 16px;
    margin: 5px 5px 14px;
/*    background-color: rgba(89, 97, 97, 0.918);*/
    background-color: rgba(32, 50, 50);
    box-shadow: 
            4px 4px 6px 0  rgba(0, 0, 0, 0.399),
            -3px -3px 8px 0 rgba(113, 134, 134, 0.137);
    padding-right: 20px;
    color: white;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: box-shadow .2s ease; /* this adds the transition delay */
}

.display:focus-within {
    filter:brightness(160%); /* this adds brightness on focus */
    outline: 0;
    box-shadow: 0 0 16px rgba(89, 97, 97, 0.408); /* this adds the glow */
}

.display::after {
    transition: box-shadow .2s ease;
}

.operator {
    background-color: rgb(24, 52, 52);
}

#equal {
    background-color: rgb(43, 65, 65);
}

#switch-button {
    min-width: 8em;
    max-width: 8em;
    min-height: 2.6em;
    max-height: 2.6em;
    flex: 0;
}

#switch-design {
    margin-bottom: 4em;
}

a:hover {
    cursor: default;
}