body {
    background-color: rgba(32, 50, 50, 0.918);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#calc-container {
    display: flex;
    flex-flow: row wrap;
    width: 13.6em;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-image: linear-gradient(rgba(12, 20, 20, 0.918), rgba(33, 51, 51, 0));
}

.main-container {
    border-style:groove;
    border: 4px inset black;
    border-radius: 14px;
    padding: 12px;
    background-image: linear-gradient(rgba(33, 51, 51, 0), rgba(12, 20, 20, 0.282));
}

button {
    height: 5em;
    width: 5em;
    padding: 6px;
    flex: 0 0 auto;
    box-shadow: 0;
    border-radius: 50px;
}

#equal {
    background-color: rgb(65, 199, 152);
}

.display {
    filter:brightness(57%);
    text-align: end;
    max-width: 228px;
    min-width: 228px;
    height: 70px;
    border: 4px outset grey;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(89, 97, 97, 0.918);
    color: white;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display:focus-within {
    filter:brightness(170%);
    outline: 0;

}

.operator {
    background-color: rgb(247, 206, 152);
}